services:
  - type: web
    name: 234tickets-frontend
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 18
      - key: BACKEND_URL
        value: https://event-ticket-backend-yx81.onrender.com
